*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: gray url('./images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #eeeeee;
    font-family: 'Rajdhani', sans-serif;
}


h1, h2, h3, h4 {
    text-align: center;
}

h1, h2 {
    line-height: 1.2em;
    padding-top: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    margin: .4em;
}

h2 {
    font-size: 48px;
    margin: .4em;
}

h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3em;
    padding-top: 3vw;
    font-size: 32px;
    font-weight: 500;
    color: #eead0a;
}

p {
    text-align: center;
    line-height: 1.2em;
    font-size: 24px;
}


header {
    display: block;
    width: 90%;
    margin: 5% auto 0 auto;
    padding: 0;
    background: linear-gradient(
        rgba(20,20,20, .6), 
        rgba(20,20,20, .6));
    border: solid 4px #c4920f;
    border-radius: 5px 5px 0 0;
}

.answerGroupContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.questionScoreBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2vw;;
}

.questionScore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: 1vw 2vw;
    width: 40%;
    height: 7vw;
    padding: 2vw;
    border: 2px solid #c4920f;
    border-radius: 5px;
    background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .7));
}

.questionScore p {
    font-size: 28px;
    font-weight: 700;
}

#questionScoreCounter {
    font-size: 28px;
    font-weight: 700;
    margin-left: 2vw;
    color: #02b5ba;
}

img {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    background: linear-gradient(
        rgba(20,20,20, .6), 
        rgba(20,20,20, .6));
    margin-bottom: 15vw;
    padding: 5vw;
    border: solid 4px #c4920f;
    border-radius: 0 0 5px 5px;
    border-top: hidden;
}


#quiz {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#answerList {
    display: flex;
    flex-direction: column;
}

.answerGroup {
    display: flex;
    flex-direction: row;
    margin: 2vw 2vw;
    width: 40%;
    padding: 0;
}

.answerGroup label {
    padding: 2vw;
    width: 100%;
    border: 2px solid #ad3e80;
    border-radius: 5px;
    background-color: #02b5ba;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #2d2d2d;
    cursor: pointer;
    z-index: 2;
    transition: all 200ms ease-in;
    overflow: hidden;
    font-size: 28px;
    font-weight: 500;
  }

  .answerGroup input:checked ~ label {
    color: #fff;
    background-color: #c4920f;
    border: 2px solid #ad3e80;
    border-radius: 5px;
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
    
  .answerGroup input {
    display: flex;
    width: 0;
    z-index: 2;
    cursor: pointer;
    visibility: hidden;
  }

.actionButton {
    display: flex;
    margin: 5vw auto;
    padding: 2vw 3vw;
    color: #eeeeee;
    font-weight: 500;
    font-size: 24px;
    background-color: #ad3e80;
    border: solid #02b5ba 2px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {

    img {
        width: 90%;
    }
    
    h2 {
        font-size: 28px;
    }

    h3{
        font-size: 24px;
    }
    .answerGroupContainer {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 3vw;
    }
    
    .answerGroup {
        flex-direction: row;
        width: 90%;
    }

    .answerGroup label {
        font-size: 18px;
        padding: 2vw;
    }

    .questionScore {
        flex-direction: column;
        width: 30%;
        height: 100%;
        padding: 0;
    }

    .questionScore p {
        text-align: center;
        line-height: 1.3em;
        margin: 0;
        font-size: 16px;
    }
    #questionScoreCounter {
        font-size: 26px;
        margin: 0;
        line-height: .8em;
    }
    .actionButton {
        margin: 4vw auto;
        padding: 2vw 3vw;
        font-size: 16px;
    }
} 

@media only screen and (min-width: 1200px) {
    h2 {
        padding: 1vw;
    }
    h3 {
        padding-top: 30px;
        font-size: 42px;
        color: #eead0a;
    }
    .questionScore {
        width: 25%;
        height: 5vw;
        padding: 0;
        margin: 0;
    }
    .answerGroup {
        width: 400px;
        margin: 25px auto;
    }
    header, main {
        width: 1100px;
        margin: 0 auto;
        padding: 20px;
    }

    main {
        margin-bottom: 30px;
    }

    .answerGroup label {
        font-size: 32px;
      }

    .actionButton {
        font-size: 32px;
    }
}





